@import url("./fonts/Typewriter/cmun-typewriter.css");

@font-face {
  font-family: "NCM";
  src: url("./fonts/NewCM10-Book.otf") format("opentype");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: "NCM";
  src: url("./fonts/NewCM10-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NCM";
  src: url("./fonts/NewCM10-BookItalic.otf") format("opentype");
  font-weight: 450;
  font-style: italic;
}

@font-face {
  font-family: "NCM";
  src: url("./fonts/NewCM10-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

