/** Basics */

article.tree {
    border-radius: 10px;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    hyphens: auto;
    text-align: justify;
}

details > summary {
    list-style-type: "⊖ ";
}

details[open] > summary {
    margin-bottom: 0.3em;
    list-style-type: "⊕ ";
}

p, .p {
    margin: 0 0 1em 0;
}

div.btex-output :last-child {
    margin-bottom: 0;
}

header {
    display: block;
    margin: 20px auto 15px auto;
    max-width: 900px;
}

header>nav {
    font-size: large;
    font-weight: bold;
}

header>nav>a {
    text-decoration: none;
}

header>nav::before {
    content: "";
    background-image: url("icon.png");
    background-size: 100% 100%;
    display: inline-block;
    height: 1em;
    width: 1.2em;
    margin-left: 10px;
    vertical-align: text-top;
    /* border: black solid;
    border-radius: 5px; */
}

main {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding-top: 2em;
    text-align: center;
    font-size: smaller;
    color: #838383;
}

/** Links */

.missing {
    color: #526068;
}

a {
    color: inherit;  /* Do not get blue or purple! */
    text-decoration: underline dotted;
}

a:hover {
    color: #838383;
}

a:active {
    text-decoration: underline solid;
}

/** BTeX styling */

body {
    font-family: 'CMU Sans Serif', system-ui, -apple-system, sans-serif;
}

.katex {
    font-size: 1em !important;
    letter-spacing: normal
}

.block {
    margin: 0 0 1em 0;
}

.proof {
    overflow: hidden
}

span.display-math.tikz-in-math {
    align-items: center
}

span.btex-diagram {
    display: inline-block
}

span.btex-diagram span.cell,
span.btex-diagram span.label {
    display: flex;
    position: relative;
    width: 0;
    height: 0;
    align-items: center;
    justify-content: center
}

span.btex-diagram .katex {
    font-size: 1em !important
}

span.btex-diagram .katex span.rlap {
    user-select: none
}

span.display-math {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: stretch
}

span.katex-display {
    margin: 0
}

span.display-math.tikz-in-math {
    align-items: center
}

span.display-math span.katex-display {
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden
}

span.display-math span.equation-tag-left,
span.display-math span.equation-tag-right {
    flex-shrink: 0;
    flex-grow: 0
}

span.display-math svg {
    margin: 0 auto;
    max-width: 100%
}

span.display-math .overlay > svg {
    max-width: none;
}

div.floatright {
    float: right;
    margin: 0
}

table.list td.list-item-label {
    width: 1.5em;
    max-width: 16em;
    overflow-x: clip;
    white-space: nowrap;
    text-align: right;
    padding-right: 0.75em;
    user-select: none;
    /* -webkit-user-select: none; */
}

table.list td {
    vertical-align: baseline;
}

.toc {
    display: none
}
